body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #d8a9ff;
}

.nav-link{
    color:black;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
}

.navbar-nav{
    margin-left: auto;
}

.container{
    border: 5px solid #b74cff;
    border-radius: 30px;
    width: 30%;
    height: 350px;
    padding: 3% 5% 4%;
    text-align: center;
    margin-top: 50px;
}

.heading{
    margin-bottom: 10px;
}

.form-elements{
    margin-top: 8px;
}

.buttons{
    margin-top: 20px;
}

.resetbtn{
    margin-right: 10px;
    border: 2px solid #b74cff;
    border-radius: 3px;
}

.submitbtn{
    margin-left: 10px;
    border: 2px solid #b74cff;
    border-radius: 3px;
}

.img{
    padding: 5%;
}

